.ARooms{
    background-color: #121B25;
    padding: 1.2%;
}

a{
    text-decoration: none;
    color: azure;
}

h1{
    display: flex;
    justify-content: center;
    color: azure;
}

.image{
    padding: 13px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reservation{
    margin-top: 10px;
    color: azure;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px 0px #adb5bd;
    display: flex;
    justify-content: space-between;
}

.price{
    display: flex;
    flex-direction: column;
    align-items: center;
}
