.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
	padding: 10px;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
}

.headerSubContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
    width: 50%;
}

.headerTitle{
  text-transform: capitalize!important;
  line-height: 1!important;
  margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.img{
  flex: 0 0 auto;
  width: 50%;
  height: 50%;
}

@media (min-width: 576px) {
  .headerContainer,.container-sm {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .headerContainer,.container-md,.container-sm {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .headerContainer,.container-lg,.container-md,.container-sm {
      max-width:960px
  }
  .mx-lg-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
}

@media (min-width: 1200px) {
  .headerContainer,.container-lg,.container-md,.container-sm,.container-xl {
      max-width:1140px
  }
}

@media (min-width: 1400px) {
  .headerContainer,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
      max-width:1320px
  }
}

.img-fluid{
  height: 80%;
}