.header {
  background-color: #121b25;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2%;
  margin: 0px;
  width: 100%;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: 50%;
}

.headerTitle {
  text-transform: capitalize !important;
  line-height: 1 !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-size: clamp(0.8rem, 7vw, 1.5rem);
}

.img {
  flex: 0 0 auto;
  width: 50%;
  height: 50%;
}

.img-fluid {
  width: 40%;
}

/* @media (min-width: 576px) {
  .header,.headerContainer,.container-sm {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .header,.headerContainer,.container-md,.container-sm {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .header,.headerContainer,.container-lg,.container-md,.container-sm {
      max-width:960px
  }
  .mx-lg-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
}

@media (min-width: 1200px) {
  .header,.headerContainer,.container-lg,.container-md,.container-sm,.container-xl {
      max-width:1140px
  }
}

@media (min-width: 1400px) {
  .header,.headerContainer,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl {
      max-width:1320px
  }
} */
